<ion-header>
  <ion-toolbar>
    <ion-title>primera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- El espacio de la fila se reparte a partes iguales entre las
  columnas que contiene
El numero de columnas es independiente, es decir, cada fila puede
tener un numero difrente de columnas -->
  <ion-grid>
    <ion-row>
      <ion-col>1 de 3</ion-col>
      <ion-col class="cell-3">2 de 3</ion-col>
      <ion-col>3 de 3</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1 de 4</ion-col>
      <ion-col class="cell-4">2 de 4</ion-col>
      <ion-col>3 de 4</ion-col>
      <ion-col class="cell-6"></ion-col>
      <ion-col class="cell-5">4 de 4</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>