<ion-header>
  <ion-toolbar>
    <ion-title>sexta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row ion-align-items-end>
          <ion-col>1 de 3</ion-col>
          <ion-col class="cell-3" ion-align-self-center>2 de 3</ion-col>
          <ion-col ion-align-self-start>3 de 3</ion-col>
          <ion-col class="cell-1">
              4 of 4 <br>#<br>#<br>#
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col>1 de 3
          </ion-col>
          <ion-col class="cell-2">2 de 3
          </ion-col>
          <ion-col>3 de 3
          </ion-col>
          <ion-col class="cell-3">
              4 of 4 <br>#<br>#<br>#
            </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
