<ion-header>
  <ion-toolbar>
    <ion-title>septima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <!-- Al parecer pone el espacio ocupado donde le digamos -->
        <!-- <ion-row class="ion-justify-content-start" > -->
        <ion-row >
          <ion-col size="3" class="cell-5">
            1 of 2 start
          </ion-col>
          <ion-col size="3" class="cell-6">
            2 of 2
          </ion-col>
        </ion-row>
    
        <ion-row class="ion-justify-content-center" >
          <ion-col size="3" class="cell-5">
            1 of 2 center
          </ion-col>
          <ion-col size="3" class="cell-6">
            2 of 2
          </ion-col>
        </ion-row>
    
        <ion-row class="ion-justify-content-end" >
          <ion-col size="3" class="cell-5">
            1 of 2 end
          </ion-col>
          <ion-col size="2" class="cell-6">
            2 of 2
          </ion-col>
        </ion-row>
    
        <ion-row class="ion-justify-content-around" >
          <ion-col size="3" class="cell-5">
            1 of 2 around
          </ion-col>
          <ion-col size="3" class="cell-6">
            2 of 2
          </ion-col>
        </ion-row>
    
        <ion-row class="ion-justify-content-between"  >
          <ion-col size="3" class="cell-5">
            1 of 2 between
          </ion-col>
          <ion-col size="3" class="cell-6">
            2 of 2
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
