<ion-header>
  <ion-toolbar>
    <ion-title>segunda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Vamos a cambiar el tamano por defecto de cada columna 
  Tenemos en cuenta que cada fila tien doce columnas-->
    <ion-grid>
        <ion-row>
          <ion-col size="2" class="cell-1">1 de 3</ion-col>
          <ion-col size="6"class="cell-3">2 de 3</ion-col>
          <ion-col size="4" class="cell-2">3 de 3</ion-col>
        </ion-row>
        <ion-row>
          <!-- si excedes las doce columnas -->
            <ion-col size="8">1 de 4</ion-col>
            <ion-col class="cell-4">2 de 4</ion-col>
            <ion-col size="4">3 de 4</ion-col>            
        </ion-row>
      </ion-grid>
</ion-content>
