<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink='/primera'>Primera</ion-button>
  <ion-button routerLink='/segunda'>Segunda</ion-button>
  <ion-button routerLink='/tercera'>Tercera</ion-button>
  <ion-button routerLink='/cuarta'>Cuarta</ion-button>
  <ion-button routerLink='/quinta'>Quinta</ion-button>
  <ion-button routerLink='/sexta'>Sexta</ion-button>
  <ion-button routerLink='/septima'>Septima</ion-button>
  <ion-button routerLink='/octava'>Octava</ion-button>
</ion-content>